@{
    ViewData["Title"] = "WaitScreen";
}
<head>
    <meta http-equiv="refresh" content="6">
</head>
<h2 class="text-center">Wacht tot alle groepen zich hebben aangemeld</h2>

<h4 class="text-center">Oefeningen die je te wachten staan: </h4>
<div class="panel panel-default">
    <div class="panel-body">
        @{ foreach (var exercise in ViewBag.Sessie.Box.Exercises)
        {
            <p><b>Oefening @exercise.ExerciseId:</b> @exercise.Name</p>
            <ul>
                <li><p><b>Categorie: </b>@exercise.Category</p></li>
                <li><p><b>Taak: </b><a href="~/images/@exercise.Task">@exercise.Task</a></p></li>
            </ul>
    }
        }
    </div>
</div>
<div class="loader center-block"></div>