
@{
    ViewData["Title"] = "WaitScreen";
}
<head>
    <meta http-equiv="refresh" content="6">
</head>
<h2 class="text-center">Wacht tot alle groepen zich hebben aangemeld</h2>


<div class="loader center-block"></div>