@{
    ViewData["Title"] = "Home Page";
}

<h1 class="text-center">
    Welkom bij onze leertool!
</h1>

<h3 class="text-center">
    Deze tool is ontwikkeld om leerkrachten en leerlingen te helpen bij het (aan)leren.
</h3>

<img class="center-block" src="~/images/Break-out-Box Icon Large.png" />
<h2 class="text-center">
    Selecteer wat bij u past:
    <br />
    Ik ben een
</h2>
<div class="text-center">
    <a role="button" class="btn btn-default btn-lg" asp-area="" asp-controller="Leerkracht" asp-action="Index">Leerkracht</a>
    <h3> Of </h3>
    <a role="button" class="btn btn-default btn-lg"  asp-area="" asp-controller="Leerling" asp-action="Index">Leerling</a>
</div>